.container {
    width: 75%;
    margin: 1% auto; 
    position: relative;
    z-index: 0;
}
.container video{
    width: 100%;
    height: auto;
}
.container .elementsDiv {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;  
    position: absolute;
    visibility: hidden;
}
/* ------------------------------  SiBubble  ------------------------------ */
.si-bubble {
    width: 20%;
    cursor: default;
    position: absolute;
    border-radius: 3px;
    font-family: Sans-serif;
    padding: 10px 0px 10px 10px;
}
.si-bubble p {
    margin: 0;
    padding: 0;
}
.si-bubble:after {
    width: 0;
    left: -5%;
    content: "";
    z-index: 1;
    bottom: -28px;
    display: block;
    padding-top: 0px;
    margin-top: -30px;
    position: relative;
    border-style: solid;
    border-width: 30px 0 0 30px;
}
.si-bubble-right:after {
    left: 82%;
    border-width: 30px 30px 0 0;
}
.si-bubble-left:after {
    left: -5%;
    border-width: 30px 0 0 30px;
}


.si-bubble-light {
    color: black;
    border: 2px solid #2196f3;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px white;
    border-left: 6px solid #2196f3;
}
.si-bubble-light:after {
    border-color: #ffffff transparent;
}
.si-bubble-dark {
    color: white;
    border: 2px solid #5600ff;
    background-color: #26272b;
    box-shadow: 0px 0px 20px #26272b;
    border-left: 6px solid #5600ff;
}
.si-bubble-dark:after {
    border-color: #26272b transparent;
}
/* ------------------------------  SiButton  ------------------------------- */
.si-button {
    width: 15%;
    color: black;
    padding: 4px 0px;
    font-weight: bold;
    position: absolute;
    border-radius: 4px;
    background-color: white;
    border: 2px solid #b368d6;
}
.si-button:hover {
    color: white;
    background-color: #b368d6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.si-button-light {
    color: black;
    background-color: white;
    border: 2px solid #b368d6;
}
.si-button-dark {
    color: white;
    background-color: #26272b;
    border: 2px solid #ff8750;
}
/* ------------------------------  SiForm  ------------------------------- */
.si-form {
    width: 22%;
    padding: 5px 10px 12px 10px;
    position: absolute;
    text-align: center;
    border-radius: 2px;
}
.si-form input {
    width: 87%;
    border: none;
    padding: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.si-form button {
    width: 35%;
    border: none;
    padding: 3px 10px;
    font-weight: bold;
    border-radius: 3px;
}
.si-form h3 {
    margin: 2px;
    font-size: 17px;
    padding: 2px 0 10px 0;
    font-family: sans-serif;
}
.si-form-light {
    border: 2px solid white;
    background-color: #2196f399;
    box-shadow: 0px 0px 24px white;
}
.si-form-light h3 {
    color: white;
}
.si-form-light button {
    color: black;
    background-color: white;
}
.si-form-dark {
    border: 2px solid black;
    background-color: #5600ff99;
    box-shadow: 0px 0px 24px black;
}
.si-form-dark h3 {
    color: black;
}
.si-form-dark button {
    color: white;
    background-color: black;
}
/* ------------------------------  SiLink  ------------------------------- */
.si-link {
    font-size: 21px;
    font-weight: bold;
    font-family: serif;
    position: absolute;
    text-transform: uppercase;
}
.si-link:hover {
    transform: scale(1.06);
}
.si-link-light {
    color: white;
    /* text-shadow: 5px 0px 5px white; */
}
.si-link-dark {
    color: black;
    /* text-shadow: 5px 0px 5px black; */
}

/* ------------------------------  SiSelect  ------------------------------- */
.si-select {
    margin: 0;
    padding: 0;
    width: 24%;
    list-style: none;
    position: absolute;
    text-align: center;
}
.si-select li {
    padding: 2px 0px;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
}
.si-select .si-select-text {
    padding: 5px 0;
    width: 100%;
}
.si-select-options li:hover {
    cursor: pointer;
}
.si-select .si-select-options {
    width: 100%;
    max-height: 350px;
    overflow-y: scroll;
    position: absolute;
}
.si-select-options::-webkit-scrollbar {
    width: 6px;
    background-color: white;
}
.si-select-options::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 3px;
}
.si-select-light .si-select-options li {
    color: white;
    background-color: #0000009e;
    border-bottom: 1px solid #2196f3;
}
.si-select-light .si-select-options {
    border: 2px solid white;
    box-shadow: 0px 0px 20px #2196f3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.si-select-light .si-select-options li:hover {
    color: white;
    background-color: #2196f3;
}
.si-select-light .si-select-text {
    color: white;
    border: 2px solid white;
    border-bottom: none;
    background-color: #2196f3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0px 0px 24px #2196f3;
}
.si-select-dark .si-select-options li {
    color: white;
    background-color: #0000009e;
    border-bottom: 1px solid #5600ff;
}
.si-select-dark .si-select-options {
    border: 2px solid black;
    box-shadow: 0px 0px 20px #5600ff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.si-select-dark .si-select-options li:hover {
    color: white;
    background-color: #5600ff;
}
.si-select-dark .si-select-text {
    color: white;
    border: 2px solid black;
    border-bottom: none;
    background-color: #5600ff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0px -8px 24px #5600ff;
}
/* ------------------------------  SiReplayButton  ------------------------------- */
.btn-replay {
    top: 46%;
    left: 48%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    visibility: visible;
    background: black;
    border: 2px solid white;
}
.btn-replay .icon {
    width: 24px;
    height: 24px;
    margin-top: 3px;
    transition: all 0.4s ease-in-out;
}
.btn-replay:hover .icon {
    transform: rotate(360deg) scale(1.2);
}
/* ------------------------------  SiPlayButton  ------------------------------- */
.btn-play {
    top: 46%;
    left: 48%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    visibility: visible;
    background: black;
    border: 2px solid white;
}
.btn-play .icon {
    width: 18px;
    height: 18px;
    margin: 3px 0 0 5px;
    transition: all 0.4s ease-in-out;
}
.btn-play:hover .icon {
    transform: scale(1.1);
}
/* ------------------------------  SiSkipButton  ------------------------------- */
.btn-skip {
    top: 82%; 
    left: 87%;
    height: 30px;
    width: 120px; 
    color: white;
    padding: 0 16px 0 0;
    border-radius: 4px;
    position: absolute;
    visibility: visible;
    background-color: rgba(61, 60, 60, 0.644);
    border: 2px solid rgba(255, 255, 255, 0.60);
}
.btn-skip .icon {
    width: 23px;
    height: 19px;
    position: absolute;
    margin: -2px 0 0 6px;
    transition: all 0.4s ease-in-out;
    filter: invert(99%) sepia(0%) saturate(500%) hue-rotate(0deg);
}

.btn-skip:hover {
    cursor: pointer;
    transform: scale(1.01);
    border: 2px solid white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* ------------------------------  SiTagProducT  ------------------------------- */
.si-btn-tag {
    margin: 0;
    padding: 0;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    background-color: 2196f3;
    border: 2px solid rgba(255, 255, 255, 0.70);
}
.si-btn-tag img {
    width: 40px;
    filter: invert(99%) sepia(0%) saturate(500%) hue-rotate(0deg);
}
.si-btn-tag:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.btn-tag-light {
    background-color: #2196f3;
    border: 2px solid white;
    box-shadow: 0 0 15px white;
}
.btn-tag-dark {
    background-color: #5600ff;
    border: 2px solid black;
    box-shadow: 0 0 15px black;
}

/* ------------------------------  responsive  ------------------------------- */
@media only screen and (max-width: 411px) {
    .container {
        width: 97%;
    }
    /* ------------------------------  SiBubble  ------------------------------- */
    .si-bubble {
        width: 40%;
        font-size: 13px;
        padding: 2px 0px 5px 10px;
    }
    .si-bubble p {
        margin: 2px 0 0 0;
        padding: 0 0 10px 0;
    }
    [class*="si-bubble-"] {
        border-left-width: 3px;
    }
    .si-bubble-right:after {
        left: 80%;
        bottom: -17px;
        border-width: 20px 25px 0 0;
    }
    .si-bubble-left:after {
        left: -2%;
        bottom: -17px;
        border-width: 20px 0 0 25px;
    }
    /* ------------------------------  SiButton  ------------------------------- */
    .si-button {
        width: 20%;
        padding: 0;
        font-size: 13px;
    }
    /* ------------------------------  SiForm  ------------------------------- */
    .si-form {
        width: 42%;
        padding: 0 0 6px 0;
        border-radius: 4px;
    }
    .si-form input {
        width: 80%;
        padding: 2px;
        border-radius: 2px;
        margin-bottom: 5px;
    }
    .si-form button {
        width: 40%;
        margin-top: 3px;
        padding: 2px 8px;
        border-radius: 2px;
    }    
    .si-form h3 {
        margin: 3px 0 -3px 0;
        font-size: 16px;
    }
    /* ------------------------------  SiLink  ------------------------------- */
    .si-link {
        font-size: 16px;
    }
    .si-link:hover {
        font-size: 16px;
    }
    /* ------------------------------  SiSelect  ------------------------------- */
     .si-select {
        width: 35%;
    } 
    .si-select li {
        font-size: 15px;
        padding: 3px 0 3px 0;
    }
    .si-select .si-select-options {
        max-height: 150px;
    }
    .si-select-light .si-select-text {
        font-size: 13px;
    }
    /* ------------------------------  SiReplayButton  ------------------------------- */
    .btn-replay {
        width: 27px;
        height: 27px;
    }
    .btn-replay .icon {
        width: 12px;
        height: 12px;
        margin-top: 3px;
    }
    /* ------------------------------  SiPlayButton  ------------------------------- */
    .btn-play {
        width: 28px;
        height: 28px;
    }
    .btn-play .icon {
        width: 12px;
        height: 12px;
        margin: 4px 0 0 2px;
    }
    /* ------------------------------  SiSkipButton  ------------------------------- */
    .btn-skip {
        left: 82.5%;
        width: 65px;
        height: 16px;
        font-size: 12px;
        padding: 1px 0 0 -10px;
        border: 2px solid rgba(255, 255, 255, 0.60);
    }
    .btn-skip .icon {
        width: 14px;
        height: 14px;
        margin: 0 0 0 6px;
    }
    /* ------------------------------  SiTagProducT  ------------------------------- */
    .si-btn-tag {
        width: 30px;
        height: 30px;
    }
    .si-btn-tag img {
        width: 20px;
    }

}