/* .container {
    width: 900px;
    margin: 30px auto 0px auto;
}
.container video{
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}
.container .elementsDiv {
    background-color: red;
    width: 900px;
    height: 506px;
    visibility: hidden;
    position: absolute;
    z-index: 1;
} */

.container {
    width: 75%;
    margin: 1% auto; 
    position: relative;
}
.container video{
    width: 100%;
    height: auto;
}
.container .elementsDiv {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;        
    z-index: 1;
    position: absolute;
    visibility: hidden;
}
/* ------------------------------  SiBubble  ------------------------------ */
.siBubble {
    /* line-height: 1.50; */
    width: 30%;
    cursor: default;
    position: absolute;
    padding: 0px 0 0px 11px;
    font-family: Sans-serif;
    color: white;
    background-color: #26272b;
    border-left: 4px solid #ff8750;
}
.siBubble button {
    border: none;
    float: right;
    cursor: pointer;
    padding: 1px 5px;
    font-weight: bold;
}
.siBubble-dark {
    color: white;
    background-color: #26272b;
    border-left: 4px solid #ff8750;
}
.siBubble-dark button {
    color: white;
    background-color: #ff8750;
}
.siBubble-light {
    color: black;
    background-color: #ffffff;
    border-left: 4px solid #b368d6;
}
.siBubble-light button {
    color: white;
    background-color: #b368d6;
}
.siBubble:after {
    content: "";
    margin-top: -30px;
    padding-top: 0px;
    position: relative;
    bottom: -25px;
    border-style: solid;
    border-color: #26272b transparent;
    display: block;
    width: 0;
    left: 2%;
    z-index: -1;
}
.bbl-right:after {
    left: 75%;
    border-width: 30px 30px 0 0;
}
.bbl-left:after {
    left: 2%;
    border-width: 30px 0 0 30px;
}
.siBubble-light:after {
    border-color: #ffffff transparent;
}
/* ------------------------------  SiButton  ------------------------------- */
.siButton {
    padding: 0.5% 2%;
    width: 23%;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid orangered;
    position: absolute;
}
.siButton:hover {
    background-color: orangered;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* ------------------------------  SiForm  ------------------------------- */
.siForm {
    text-align: center;
    width: 24%;
    padding: 10px 20px;
    background-color: white;
    position: absolute;
}
.siForm .btn-close {
    margin-left: 10px;
}
.siForm input {
    width: 80%;
    margin-bottom: 5px;
}
.siForm button {
    width: 30%;
}
/* ------------------------------  SiLink  ------------------------------- */
.link {
    color: black;
    background-color: white;
    font-size: 22px;
    text-decoration: none;
    padding: 3px 15px;
    position: absolute;    
}
.link:hover {
    color: orangered;
    font-size: 22px;
    text-decoration: none;
    background-color: white;
    padding: 3px 15px;
}
/* ------------------------------  SiList  ------------------------------- */
.SiList {
    width: 19%;
    list-style: none;
    text-align: center;
    position: absolute;
}
.SiList li {
    margin-bottom: 4px;
    background-color: white;
    padding: 5px 0px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 6px 3px 6px white;
}
li:hover {
    cursor: pointer;
}
/* ------------------------------  SiReplayButton  ------------------------------- */
.btn-replay {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    border: 2px solid white;
    margin: 26% 0% 0% 50%;
    position: absolute;
    visibility: visible;
}
.btn-replay .icon {
    width: 24px;
    height: 24px;
    margin-top: 3px;
    transition: all 0.4s ease-in-out;
}
.btn-replay:hover .icon {
    transform: rotate(360deg) scale(1.2);
}
/* ------------------------------  SiPlayButton  ------------------------------- */
.btn-play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    border: 2px solid white;
    margin: 27% 0% 0% 48%;
    position: absolute;
    visibility: visible;
    text-align: center;
}
.btn-play .icon {
    width: 18px;
    height: 18px;
    margin: 3px 0 0 5px;
    transition: all 0.4s ease-in-out;
}
.btn-play:hover .icon {
    transform: scale(1.1);
}

/* ------------------------------  responsive  ------------------------------- */
@media only screen and (max-width: 411px) {
    .container {
        width: 100%;
    }
    /* ------------------------------  SiBubble  ------------------------------- */
    .siBubble {
        width: 46%;
        height: auto;
        font-size: 13px;
        padding: 0 0 0 5px;
    }
    .siBubble p {
        margin: 2px 0 0 0;
        padding: 0 0 11px 0;
    }
    [class*="siBubble-"] {
        border-left-width: 2px;
    }
    .siBubble button {
        padding: 1% 2%;
        font-weight: bold;
        font-size: 80%;
    }
    .bbl-right:after {
        left: 80%;
        border-width: 20px 25px 0 0;
        bottom: -17px;
    }
    .bbl-left:after {
        left: 2%;
        border-width: 20px 0 0 25px;
        bottom: -17px;
    }
    /* ------------------------------  SiButton  ------------------------------- */
    .siButton {
        width: 30%;
        font-size: 13px;
    }
    /* ------------------------------  SiForm  ------------------------------- */
    .siForm {
        width: 45%;
        padding: 7px 2px 10px 2px;
    }
    .siForm h3 {
        margin: 3px 0 10px 0;
    }
    .siForm input {
        width: 80%;
        margin-bottom: 8px;
    }
    .siForm button {
        width: 40%;
    }    
    /* ------------------------------  SiLink  ------------------------------- */
    .link {
        font-size: 16px;
    }
    .link:hover {
        /* color: orangered; */
        font-size: 16px;
        /* text-decoration: none;
        background-color: white;
        padding: 3px 15px; */
    }
    /* ------------------------------  SiList  ------------------------------- */
    .SiList {
        width: 25%;
    }
    .SiList li {
        margin-bottom: 0px;
        padding: 0px 0px;
    }
    /* ------------------------------  SiReplayButton  ------------------------------- */
    .btn-replay {
        width: 27px;
        height: 27px;
        margin: 22% 0% 0% 47%;
    }
    .btn-replay .icon {
        width: 12px;
        height: 12px;
        margin-top: 3px;
    }
    /* ------------------------------  SiPlayButton  ------------------------------- */
    .btn-play {
        width: 28px;
        height: 28px;
        margin: 25% 0% 0% 46%;
    }
    .btn-play .icon {
        width: 12px;
        height: 12px;
        margin: 4px 0 0 2px;
    }

}